<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	>

<channel>
	<title>Backend Info</title>
	<atom:link href="http://www.backendinfo.com/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.backendinfo.com</link>
	<description>Detect Website Backends</description>
	<pubDate>Thu, 05 Feb 2009 01:56:29 +0000</pubDate>
	<generator>http://wordpress.org/?v=2.7</generator>
	<language>en</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
			<item>
		<title>Version 1.2.7.0</title>
		<link>http://www.backendinfo.com/2009/02/version-1270/</link>
		<comments>http://www.backendinfo.com/2009/02/version-1270/#comments</comments>
		<pubDate>Thu, 05 Feb 2009 01:56:29 +0000</pubDate>
		<dc:creator>admin</dc:creator>
		
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://www.backendinfo.com/?p=265</guid>
		<description><![CDATA[Today I&#8217;ve been playing around with UML and implemented a developer toolbox, that makes it easy to test, debug and improve filters.
Furthermore, thanks to some anonymous posters in the forum, I&#8217;ve added two new filters:

Trac
Bugzilla

Both only the basic detection.


filters.push({
    name: "Trac",
    image: "chrome://backendinfo/skin/trac.png",
    require: new Array({
 [...]]]></description>
			<content:encoded><![CDATA[<p>Today I&#8217;ve been playing around with UML and implemented a <a href="http://www.backendinfo.com/new-filter/developer-toolbox">developer toolbox</a>, that makes it easy to test, debug and improve filters.</p>
<p>Furthermore, thanks to some anonymous posters in the <a href="/forum">forum</a>, I&#8217;ve added two new filters:</p>
<ul>
<li>Trac</li>
<li>Bugzilla</li>
</ul>
<p>Both only the basic detection.</p>
<pre name="code" class="js">

filters.push({
    name: "Trac",
    image: "chrome://backendinfo/skin/trac.png",
    require: new Array({
        url: '/', contains: new Array('/chrome/common/js/trac.js') }
    )
});

filters.push({
    name: "Bugzilla",
    image: "chrome://backendinfo/skin/bugzilla.png",
    require: new Array(
        { url: '/', contains: new Array('show_bug.cgi', 'skins/standard/global.css', /bugzilla/i) },
        { url: '/', contains: new Array('query.cgi', 'skins/standard/global.css', /bugzilla/i) }
    )
});
</pre>
]]></content:encoded>
			<wfw:commentRss>http://www.backendinfo.com/2009/02/version-1270/feed/</wfw:commentRss>
		</item>
		<item>
		<title>Version 1.2.6.8</title>
		<link>http://www.backendinfo.com/2009/02/version-1268/</link>
		<comments>http://www.backendinfo.com/2009/02/version-1268/#comments</comments>
		<pubDate>Wed, 04 Feb 2009 12:11:10 +0000</pubDate>
		<dc:creator>admin</dc:creator>
		
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://www.backendinfo.com/?p=251</guid>
		<description><![CDATA[I just noticed that the logo of the extension was missing and fixed that. Nothing else this time  
Currently I am working on a developer window, where you can instantly test new filters.
]]></description>
			<content:encoded><![CDATA[<p>I just noticed that the logo of the extension was missing and fixed that. Nothing else this time <img src='http://www.backendinfo.com/wp-includes/images/smilies/icon_smile.gif' alt=':-)' class='wp-smiley' /> </p>
<p>Currently I am working on a developer window, where you can instantly test new filters.</p>
]]></content:encoded>
			<wfw:commentRss>http://www.backendinfo.com/2009/02/version-1268/feed/</wfw:commentRss>
		</item>
		<item>
		<title>Version 1.2.6.7</title>
		<link>http://www.backendinfo.com/2009/02/version-1267/</link>
		<comments>http://www.backendinfo.com/2009/02/version-1267/#comments</comments>
		<pubDate>Tue, 03 Feb 2009 13:02:09 +0000</pubDate>
		<dc:creator>admin</dc:creator>
		
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://www.backendinfo.com/?p=235</guid>
		<description><![CDATA[
Added: basic reddit detection (test-websites)
Added: basic blogger detection
Improved: Joomla base detection
Added: django icon

]]></description>
			<content:encoded><![CDATA[<ul>
<li>Added: basic <a href="http://www.reddit.com">reddit</a> detection (test-websites)</li>
<li>Added: basic <a href="http://www.blogger.com">blogger</a> detection</li>
<li>Improved: Joomla base detection</li>
<li>Added: django icon</li>
</ul>
]]></content:encoded>
			<wfw:commentRss>http://www.backendinfo.com/2009/02/version-1267/feed/</wfw:commentRss>
		</item>
		<item>
		<title>Version 1.2.6.5</title>
		<link>http://www.backendinfo.com/2009/02/version-1265/</link>
		<comments>http://www.backendinfo.com/2009/02/version-1265/#comments</comments>
		<pubDate>Mon, 02 Feb 2009 23:32:55 +0000</pubDate>
		<dc:creator>admin</dc:creator>
		
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://www.backendinfo.com/?p=216</guid>
		<description><![CDATA[Joomla! &#8212; 24 versions detected

1.0.1 to 1.0.15
1.5.0 to 1.5.9

Reduced Code Size

from 27 to 24kb!  

Try it out
]]></description>
			<content:encoded><![CDATA[<p><strong>Joomla!</strong> &#8212; 24 versions detected</p>
<ul>
<li>1.0.1 to 1.0.15</li>
<li>1.5.0 to 1.5.9</li>
</ul>
<p><strong>Reduced Code Size</strong></p>
<ul>
<li>from 27 to 24kb! <img src='http://www.backendinfo.com/wp-includes/images/smilies/icon_smile.gif' alt=':-)' class='wp-smiley' /> </li>
</ul>
<p><a href="http://www.backendinfo.com/about/try-it-out/"><strong>Try it out</strong></a></p>
]]></content:encoded>
			<wfw:commentRss>http://www.backendinfo.com/2009/02/version-1265/feed/</wfw:commentRss>
		</item>
		<item>
		<title>Version 1.2.6.4</title>
		<link>http://www.backendinfo.com/2009/01/version-1264/</link>
		<comments>http://www.backendinfo.com/2009/01/version-1264/#comments</comments>
		<pubDate>Tue, 27 Jan 2009 15:31:15 +0000</pubDate>
		<dc:creator>admin</dc:creator>
		
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://www.backendinfo.com/?p=189</guid>
		<description><![CDATA[A new day, a new release!  
The current one (1.2.6.4) includes filters that detect many django systems and their exact version and very good filters for DokuWiki, also detecting the exact version number at a majority of installations.
Please test them and post feedback whenever possible &#8211;the forum would be a great place for that! [...]]]></description>
			<content:encoded><![CDATA[<p>A new day, a new release! <img src='http://www.backendinfo.com/wp-includes/images/smilies/icon_smile.gif' alt=':-)' class='wp-smiley' /> </p>
<p>The current one (1.2.6.4) includes filters that detect many django systems and their exact version and very good filters for DokuWiki, also detecting the exact version number at a majority of installations.</p>
<p>Please test them and post feedback whenever possible &#8211;the <a href="/forum?phpMyAdmin=f0db79bed0735fea89330c94f253c401">forum</a> would be a great place for that! And as long as there are no spambots, everyone can post without logging in.</p>
]]></content:encoded>
			<wfw:commentRss>http://www.backendinfo.com/2009/01/version-1264/feed/</wfw:commentRss>
		</item>
		<item>
		<title>Version 1.2.5</title>
		<link>http://www.backendinfo.com/2009/01/version-125/</link>
		<comments>http://www.backendinfo.com/2009/01/version-125/#comments</comments>
		<pubDate>Mon, 26 Jan 2009 09:54:06 +0000</pubDate>
		<dc:creator>admin</dc:creator>
		
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://www.backendinfo.com/?p=155</guid>
		<description><![CDATA[Just two things have been changed, but they are really important:

Proper GUID: &#8220;backendinfo@linuxuser.at&#8221;
From this version on, BackendInfo will check for updates automatically

That&#8217;s really relieves me because I was worried that people wouldn&#8217;t get the latest updates which are coming frequently (since it is quite easy to add filter to detect new backends).
If you wonder why [...]]]></description>
			<content:encoded><![CDATA[<p>Just two things have been changed, but they are really important:</p>
<ol>
<li>Proper GUID: &#8220;backendinfo@linuxuser.at&#8221;</li>
<li>From this version on, BackendInfo will check for updates automatically</li>
</ol>
<p>That&#8217;s really relieves me because I was worried that people wouldn&#8217;t get the latest updates which are coming frequently (since it is quite easy to add filter to detect new backends).</p>
<p>If you wonder why <a href="http://www.linuxuser.at">linuxuser.at</a>&#8230; that is my main homepage and blog!</p>
]]></content:encoded>
			<wfw:commentRss>http://www.backendinfo.com/2009/01/version-125/feed/</wfw:commentRss>
		</item>
		<item>
		<title>Version 1.2.3</title>
		<link>http://www.backendinfo.com/2009/01/version-123/</link>
		<comments>http://www.backendinfo.com/2009/01/version-123/#comments</comments>
		<pubDate>Sun, 25 Jan 2009 21:27:40 +0000</pubDate>
		<dc:creator>admin</dc:creator>
		
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://www.backendinfo.com/?p=142</guid>
		<description><![CDATA[After installing dozens of Drupals, MediaWikis and phpBB&#8217;s, a bunch of new filters was added! BackendInfo already detects around 50 different backend versions and is working with Firefox 2.0 to 3.4.
Updates include a test before the actual tests, determining if the backend returns 404 status codes on random url&#8217;s or not. Some backends (such as [...]]]></description>
			<content:encoded><![CDATA[<p>After installing dozens of Drupals, MediaWikis and phpBB&#8217;s, a bunch of new filters was added! BackendInfo already <a href="http://www.backendinfo.com/backends-new/">detects around 50</a> different backend versions and is working with Firefox 2.0 to 3.4.</p>
<p>Updates include a test before the actual tests, determining if the backend returns 404 status codes on random url&#8217;s or not. Some backends (such as MediaWiki) do not, and then all filters that require no strings are disabled (since any page would be recognized).</p>
<p>I hope to have some time the next days to add new backends, please post comments for suggestions! Another idea I received was to add a preference that displays the version number not only as a tooltip, but also in the status bar.</p>
<p>I really hope to get some feedback (and perhaps contributions) soon! <img src='http://www.backendinfo.com/wp-includes/images/smilies/icon_smile.gif' alt=':-)' class='wp-smiley' /> </p>
]]></content:encoded>
			<wfw:commentRss>http://www.backendinfo.com/2009/01/version-123/feed/</wfw:commentRss>
		</item>
		<item>
		<title>Hello World!</title>
		<link>http://www.backendinfo.com/2009/01/hello-world/</link>
		<comments>http://www.backendinfo.com/2009/01/hello-world/#comments</comments>
		<pubDate>Sat, 24 Jan 2009 01:34:43 +0000</pubDate>
		<dc:creator>admin</dc:creator>
		
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://www.backendinfo.com/?p=116</guid>
		<description><![CDATA[Hi! This is the first post in the BackendInfo blog.
The last days I have been working on this Firefox extension, and now it is working and ready for a public release, and a request for feedback and reviews!  
The functionality is still being tested, but seems to work quite well. Adding new filters is [...]]]></description>
			<content:encoded><![CDATA[<p>Hi! This is the first post in the BackendInfo blog.</p>
<p>The last days I have been working on this Firefox extension, and now it is working and ready for a public release, and a request for feedback and reviews! <img src='http://www.backendinfo.com/wp-includes/images/smilies/icon_smile.gif' alt=':-)' class='wp-smiley' /> </p>
<p>The functionality is still being tested, but seems to work quite well. Adding new filters is really easy, and today I added over 20 more. A filter is a sort of plugin, used to detect a specific plugin. Read more about filters <a href="/new-filter/?phpMyAdmin=f0db79bed0735fea89330c94f253c401">here</a>.</p>
<p>If you like this extension, please rate it at the <a href="https://addons.mozilla.org/en-US/firefox/addon/10493">addons.mozilla.org project page</a> and perhaps leave a review there. Thanks!</p>
]]></content:encoded>
			<wfw:commentRss>http://www.backendinfo.com/2009/01/hello-world/feed/</wfw:commentRss>
		</item>
	</channel>
</rss>
