<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	>
<channel>
	<title>Comments for Backend Info</title>
	<atom:link href="http://www.backendinfo.com/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.backendinfo.com</link>
	<description>Detect Website Backends</description>
	<pubDate>Wed, 28 Jul 2010 13:01:45 +0000</pubDate>
	<generator>http://wordpress.org/?v=2.7</generator>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
		<item>
		<title>Comment on Hello World! by ed hardy</title>
		<link>http://www.backendinfo.com/2009/01/hello-world/comment-page-1/#comment-69</link>
		<dc:creator>ed hardy</dc:creator>
		<pubDate>Tue, 18 May 2010 09:07:19 +0000</pubDate>
		<guid isPermaLink="false">http://www.backendinfo.com/?p=116#comment-69</guid>
		<description>hi,buddy.thanks for the sharing.
and firebox is my fav.always.

i am always using firefox by browering.</description>
		<content:encoded><![CDATA[<p>hi,buddy.thanks for the sharing.<br />
and firebox is my fav.always.</p>
<p>i am always using firefox by browering.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Version 1.2.7.0 by Matthew</title>
		<link>http://www.backendinfo.com/2009/02/version-1270/comment-page-1/#comment-67</link>
		<dc:creator>Matthew</dc:creator>
		<pubDate>Thu, 18 Mar 2010 21:12:09 +0000</pubDate>
		<guid isPermaLink="false">http://www.backendinfo.com/?p=265#comment-67</guid>
		<description>hi, is 1.2.8 posted as they say on mozilla? the forums are gone too.</description>
		<content:encoded><![CDATA[<p>hi, is 1.2.8 posted as they say on mozilla? the forums are gone too.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Detected Backends by BackendInfo &#8211; Detect Website Backends&#160;&#124;&#160;Nodo54</title>
		<link>http://www.backendinfo.com/backends-new/comment-page-1/#comment-66</link>
		<dc:creator>BackendInfo &#8211; Detect Website Backends&#160;&#124;&#160;Nodo54</dc:creator>
		<pubDate>Wed, 17 Mar 2010 22:56:28 +0000</pubDate>
		<guid isPermaLink="false">http://www.backendinfo.com/?page_id=102#comment-66</guid>
		<description>[...] Detecting 15 different backends / 130+ versionsDrupal 6.x, 5.x, Wordpress 2.xphpBB 2.x, 3.x, Django, DokuWikiMediaWiki, MoinMoin, Reddit, Blogger, Joomla, and more [...]</description>
		<content:encoded><![CDATA[<p>[...] Detecting 15 different backends / 130+ versionsDrupal 6.x, 5.x, Wordpress 2.xphpBB 2.x, 3.x, Django, DokuWikiMediaWiki, MoinMoin, Reddit, Blogger, Joomla, and more [...]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Version 1.2.7.0 by Kristofer</title>
		<link>http://www.backendinfo.com/2009/02/version-1270/comment-page-1/#comment-65</link>
		<dc:creator>Kristofer</dc:creator>
		<pubDate>Sat, 06 Mar 2010 08:35:56 +0000</pubDate>
		<guid isPermaLink="false">http://www.backendinfo.com/?p=265#comment-65</guid>
		<description>Great plugin. A lot better than Wappalyzer. But sad that it always stop functioning when upgrading Firefox. I've had Firefox 3.6 now for weeks, and the plugin haven't worked during this time...</description>
		<content:encoded><![CDATA[<p>Great plugin. A lot better than Wappalyzer. But sad that it always stop functioning when upgrading Firefox. I&#8217;ve had Firefox 3.6 now for weeks, and the plugin haven&#8217;t worked during this time&#8230;</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Version 1.2.6.7 by angel</title>
		<link>http://www.backendinfo.com/2009/02/version-1267/comment-page-1/#comment-64</link>
		<dc:creator>angel</dc:creator>
		<pubDate>Mon, 14 Dec 2009 16:43:20 +0000</pubDate>
		<guid isPermaLink="false">http://www.backendinfo.com/?p=235#comment-64</guid>
		<description>Hey this was doubtlessly one of the best articles I've had the chance to come across on the subject so far. I do not understand where you gather up all of your info but I am impressed! I am gunna send some folks to this site to check this out. Amazing, totally awesome. I'm have just started getting into crafting articles myself, nothing remotely close to your writing potential (doh) but I would love for you to have a look at my article someday! &lt;a href="http://astore.amazon.com/bowflex.series.7.treadmill.sale-20" rel="nofollow"&gt;bowflex&lt;/a&gt;</description>
		<content:encoded><![CDATA[<p>Hey this was doubtlessly one of the best articles I&#8217;ve had the chance to come across on the subject so far. I do not understand where you gather up all of your info but I am impressed! I am gunna send some folks to this site to check this out. Amazing, totally awesome. I&#8217;m have just started getting into crafting articles myself, nothing remotely close to your writing potential (doh) but I would love for you to have a look at my article someday! <a href="http://astore.amazon.com/bowflex.series.7.treadmill.sale-20" rel="nofollow">bowflex</a></p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Version 1.2.7.0 by Jeremy Blanchard</title>
		<link>http://www.backendinfo.com/2009/02/version-1270/comment-page-1/#comment-63</link>
		<dc:creator>Jeremy Blanchard</dc:creator>
		<pubDate>Sat, 18 Jul 2009 22:48:16 +0000</pubDate>
		<guid isPermaLink="false">http://www.backendinfo.com/?p=265#comment-63</guid>
		<description>Since the forum seems to not exist at the moment, I thought I'd post this filter here. It's for Blogger, which isn't a self-host piece of software like other filters here, but I think it's worth having.

filters.push({  
  name: "Blogger",
  require: new Array(  
      { url: '/',  contains: new Array('&#60;link rel="stylesheet" type="text/css" href="http://www.blogger.com/dyn-css/authorization.css?') }
    )  
});</description>
		<content:encoded><![CDATA[<p>Since the forum seems to not exist at the moment, I thought I&#8217;d post this filter here. It&#8217;s for Blogger, which isn&#8217;t a self-host piece of software like other filters here, but I think it&#8217;s worth having.</p>
<p>filters.push({<br />
  name: &#8220;Blogger&#8221;,<br />
  require: new Array(<br />
      { url: &#8216;/&#8217;,  contains: new Array(&#8217;&lt;link rel=&#8221;stylesheet&#8221; type=&#8221;text/css&#8221; href=&#8221;http://www.blogger.com/dyn-css/authorization.css?&#8217;) }<br />
    )<br />
});</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Developer Toolbox by Backend Info &#187; Blog Archive &#187; Version 1.2.7.0</title>
		<link>http://www.backendinfo.com/new-filter/developer-toolbox/comment-page-1/#comment-4</link>
		<dc:creator>Backend Info &#187; Blog Archive &#187; Version 1.2.7.0</dc:creator>
		<pubDate>Thu, 05 Feb 2009 01:56:32 +0000</pubDate>
		<guid isPermaLink="false">http://www.backendinfo.com/?page_id=253#comment-4</guid>
		<description>[...] I&#8217;ve been playing around with UML and implemented a developer toolbox, that makes it easy to test, debug and improve [...]</description>
		<content:encoded><![CDATA[<p>[...] I&#8217;ve been playing around with UML and implemented a developer toolbox, that makes it easy to test, debug and improve [...]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Try it out! by Backend Info &#187; Blog Archive &#187; Version 1.2.6.5</title>
		<link>http://www.backendinfo.com/about/try-it-out/comment-page-1/#comment-3</link>
		<dc:creator>Backend Info &#187; Blog Archive &#187; Version 1.2.6.5</dc:creator>
		<pubDate>Mon, 02 Feb 2009 23:57:01 +0000</pubDate>
		<guid isPermaLink="false">http://www.backendinfo.com/?page_id=198#comment-3</guid>
		<description>[...] Try it out   Uncategorized [...]</description>
		<content:encoded><![CDATA[<p>[...] Try it out   Uncategorized [...]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Detected Backends by Backend Info &#187; Blog Archive &#187; Version 1.2.3</title>
		<link>http://www.backendinfo.com/backends-new/comment-page-1/#comment-2</link>
		<dc:creator>Backend Info &#187; Blog Archive &#187; Version 1.2.3</dc:creator>
		<pubDate>Sun, 25 Jan 2009 21:27:46 +0000</pubDate>
		<guid isPermaLink="false">http://www.backendinfo.com/?page_id=102#comment-2</guid>
		<description>[...] Detected Backends [...]</description>
		<content:encoded><![CDATA[<p>[...] Detected Backends [...]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
