/*
Theme Name: Gear
Theme URI: http://www.mymobiles.com/wordpress-themes/gear
Description: High quality WordPress theme named "Gear". Includes a very customizable banner. Change visibility, banner's image (includes 6 variations: gear, bird, bulb, user, user2, binoculars), text through an options page. You may also change theme's background with available 13 patterns. Compatible with WordPress 2.7. Valid CSS & HTML. Designed by <a href="http://www.mymobiles.com">My Mobiles</a> Web Development Team.
Version: 1.0.6
Author: My Mobiles
Author URI: http://www.mymobiles.com
Tags: black, blue, dark, white, two-columns, fixed-width, theme-options, right-sidebar


  BLUEPRINT CSS
   * Version:         0.7.1 (2008-02-25) YYYY-MM-DD
   * Website:         http://code.google.com/p/blueprintcss/
   
  == STRUCTURE: ========================
   * Page width:            852 px
   * Number of columns:     24
   * Column width:          24 px
   * Margin width:          12 px
  ======================================
   
*/

/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* typography.css */
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;height:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color:#000;}
a {color:#009;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre, code {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;background:#C3D9FF;}
th, td {padding:4px 10px 4px 5px;}
tr.even td {background:#E5ECF9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

/* grid.css */
.container {width:852px;margin:0 auto;}
.showgrid {background:url(src/grid.png);}
body {margin:1.5em 0;}
div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {float:left;margin-right: 12px;}

div.last {margin-right:0;}
.span-1  { width: 24px;}
.span-2  { width: 60px;}
.span-3  { width: 96px;}
.span-4  { width: 132px;}
.span-5  { width: 168px;}
.span-6  { width: 204px;}
.span-7  { width: 240px;}
.span-8  { width: 276px;}
.span-9  { width: 312px;}
.span-10 { width: 348px;}
.span-11 { width: 384px;}
.span-12 { width: 420px;}
.span-13 { width: 456px;}
.span-14 { width: 492px;}
.span-15 { width: 528px;}
.span-16 { width: 564px;}
.span-17 { width: 600px;}
.span-18 { width: 636px;}
.span-19 { width: 672px;}
.span-20 { width: 708px;}
.span-21 { width: 744px;}
.span-22 { width: 780px;}
.span-23 { width: 816px;}
.span-24, div.span-24 { width: 852px; margin: 0; }

.append-1  { padding-right: 36px;}
.append-2  { padding-right: 72px;}
.append-3  { padding-right: 108px;}
.append-4  { padding-right: 144px;}
.append-5  { padding-right: 180px;}
.append-6  { padding-right: 216px;}
.append-7  { padding-right: 252px;}
.append-8  { padding-right: 288px;}
.append-9  { padding-right: 324px;}
.append-10 { padding-right: 360px;}
.append-11 { padding-right: 396px;}
.append-12 { padding-right: 432px;}
.append-13 { padding-right: 468px;}
.append-14 { padding-right: 504px;}
.append-15 { padding-right: 540px;}
.append-16 { padding-right: 576px;}
.append-17 { padding-right: 612px;}
.append-18 { padding-right: 648px;}
.append-19 { padding-right: 684px;}
.append-20 { padding-right: 720px;}
.append-21 { padding-right: 756px;}
.append-22 { padding-right: 792px;}
.append-23 { padding-right: 828px;}

.prepend-1  { padding-left: 36px;}
.prepend-2  { padding-left: 72px;}
.prepend-3  { padding-left: 108px;}
.prepend-4  { padding-left: 144px;}
.prepend-5  { padding-left: 180px;}
.prepend-6  { padding-left: 216px;}
.prepend-7  { padding-left: 252px;}
.prepend-8  { padding-left: 288px;}
.prepend-9  { padding-left: 324px;}
.prepend-10 { padding-left: 360px;}
.prepend-11 { padding-left: 396px;}
.prepend-12 { padding-left: 432px;}
.prepend-13 { padding-left: 468px;}
.prepend-14 { padding-left: 504px;}
.prepend-15 { padding-left: 540px;}
.prepend-16 { padding-left: 576px;}
.prepend-17 { padding-left: 612px;}
.prepend-18 { padding-left: 648px;}
.prepend-19 { padding-left: 684px;}
.prepend-20 { padding-left: 720px;}
.prepend-21 { padding-left: 756px;}
.prepend-22 { padding-left: 792px;}
.prepend-23 { padding-left: 828px;}

div.border{padding-right:5px;margin-right:6px;border-right:1px solid #eee;}
div.colborder { padding-right:19px;margin-right:18px;border-right:1px solid #eee;}
.pull-1 { margin-left: -36px;}
.pull-2 { margin-left: -72px;}
.pull-3 { margin-left: -108px;}
.pull-4 { margin-left: -144px;}
.pull-5 { margin-left: -180px;}
.pull-6 { margin-left: -216px;}
.pull-7 { margin-left: -252px;}
.pull-8 { margin-left: -288px;}
.pull-9 { margin-left: -324px;}
.pull-10 { margin-left: -360px;}
.pull-11 { margin-left: -396px;}
.pull-12 { margin-left: -432px;}
.pull-13 { margin-left: -468px;}
.pull-14 { margin-left: -504px;}
.pull-15 { margin-left: -540px;}
.pull-16 { margin-left: -576px;}
.pull-17 { margin-left: -612px;}
.pull-18 { margin-left: -648px;}
.pull-19 { margin-left: -684px;}
.pull-20 { margin-left: -720px;}
.pull-21 { margin-left: -756px;}
.pull-22 { margin-left: -792px;}
.pull-23 { margin-left: -828px;}
.pull-24 { margin-left: -864px;}

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {float:left;position:relative;}

.push-1 { margin: 0 -36px 1.5em 36px;}
.push-2 { margin: 0 -72px 1.5em 72px;}
.push-3 { margin: 0 -108px 1.5em 108px;}
.push-4 { margin: 0 -144px 1.5em 144px;}
.push-5 { margin: 0 -180px 1.5em 180px;}
.push-6 { margin: 0 -216px 1.5em 216px;}
.push-7 { margin: 0 -252px 1.5em 252px;}
.push-8 { margin: 0 -288px 1.5em 288px;}
.push-9 { margin: 0 -324px 1.5em 324px;}
.push-10 { margin: 0 -360px 1.5em 360px;}
.push-11 { margin: 0 -396px 1.5em 396px;}
.push-12 { margin: 0 -432px 1.5em 432px;}
.push-13 { margin: 0 -468px 1.5em 468px;}
.push-14 { margin: 0 -504px 1.5em 504px;}
.push-15 { margin: 0 -540px 1.5em 540px;}
.push-16 { margin: 0 -576px 1.5em 576px;}
.push-17 { margin: 0 -612px 1.5em 612px;}
.push-18 { margin: 0 -648px 1.5em 648px;}
.push-19 { margin: 0 -684px 1.5em 684px;}
.push-20 { margin: 0 -720px 1.5em 720px;}
.push-21 { margin: 0 -756px 1.5em 756px;}
.push-22 { margin: 0 -792px 1.5em 792px;}
.push-23 { margin: 0 -828px 1.5em 828px;}
.push-24 { margin: 0 -864px 1.5em 864px;}

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 {float:right;position:relative;}

.box {padding:1.5em;margin-bottom:1.5em;background:#E5ECF9;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}
hr.space {background:#fff;color:#fff;}
.clearfix:after, .container:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix, .container {display:inline-block;}
* html .clearfix, * html .container {height:1%;}
.clearfix, .container {display:block;}
.clear {clear:both;}

/* forms.css */
label {font-weight:bold;}
fieldset {padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;}
input.text, input.title, textarea, select {margin:0.5em 0;border:1px solid #bbb;}
input.text:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #666;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}


/* ================== custom ================== */
body {margin: 0; padding: 0;}
pre, code {/* white-space: normal; */}
p img {float:none;margin:7px 12px 7px 0;padding:0;}
.fl {float: left;}
.fr {float: right;}
.block {display: block;}
small {font-size: 12px;}
table {margin-bottom: 0;}

/* 100% height */
html, body {
	height: 100%;
}
.main {
	min-height: 100%;
}
* html .main {
	height: 100%;
}

/* code*/
th {font-weight:bold;background:#5eb2e5;}
tr.even td {background:#d4e9f7;}
h2 {font-weight: bold;}
h3 {font-size: 18px; font-weight: bold; margin-bottom: 0.75em;}
.hr {background: url(images/hr.gif) repeat-x 0 0; height: 2px; display: block;}
a {color: #5eb2e5;}
a:hover {color: #eead24; text-decoration: underline;}

/* default wordpress */
.wp-smiley {
	float: none;
	margin: 0;
}
.alignnone {
	display: block;
}
.alignleft {
	float: left;
	margin-right: 15px;
}
.alignright {
	float: right;
	margin-left: 15px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption {
	/* border: 1px solid #ddd; */
	text-align: center;
	background-color: #eff0f0;
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 4px 0 0 0;
	
}
	.wp-caption a {
		line-height: 0.11em;
	}
	.wp-caption a:hover {
		background: none;
	}
	.wp-caption img {
		margin: 0 auto;
		display: block;
		padding: 0;
	}
	.wp-caption-text {
		padding: 3px 0 !important;
		margin: 0 !important;
	}
.wp-caption-dd {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}

/* code*/
/* ie5, ie6 sidebar fix */
.span-7  { width: 237px;}

div.main {
	background: #00ACEC url(/images/bg_blue2.gif) repeat-x scroll 0 0; /*#1e2022 url(images/bg/pattern.gif) repeat 0 0;*/
	color: #666666; /* #666666 */
	font-size: 12px;
}

.container {
	padding: 24px 0;
}

.paddings {
	padding: 18px 18px 18px;
}


.header {
	background: #455875 url(images/header-pattern.gif) repeat-x 0 0;
}
	.intro .intro-wrapper {
		background: transparent url(images/system-search.png) no-repeat 18px 18px;
		padding-left: 80px;
	}
		.logo {
			font-size: 32px;
			font-weight: bold;
                        font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
			/* text-transform: uppercase; */
			line-height: 1;
			margin-bottom: 0.25em;
			color: #eead24;
			display: block;
		}
			.logo a {
				text-decoration: none;
				color: white;
			}
		.slogan {
			font-size: 16px;
                        color:#EFEFEF;
			/* color: white; */
		}
	.icons {
		
	}
		.icons-wrapper {
			margin-bottom: 39px;
		}
		.icons a {
			float: right;
			padding-left: 18px;
			padding: 0 0 0 18px;
			
		}
		.icons a img {
			display: block;
		}
	.search { display:none;
		clear: right;
	
	}
		#srch-frm {
			background: transparent url(images/search.gif) no-repeat scroll left 2px;
		}
		.search #s {
			background: transparent none no-repeat 0 0;
			border: none;
			margin: 5px 12px 4px 24px;
			color: #666666;
			width: 122px;
		}
.menu {
	height: 32px;
	background: transparent url(images/menu-pattern.gif) repeat-x 0 0;
	font-size: 14px;
}
	.menu-wrapper {
		list-style-type: none;
		margin: 0;
	}
	.menu-wrapper li {
		display: block;
		float: left;
		border-right: 1px solid #e4e5e5;
		padding: 5px 12px 6px 12px;
	}
		.menu-wrapper li a {
			text-decoration: none;
			color: #252525;
		}
		.menu-wrapper .current_page_item {
			background-color: #5eb2e5;
			border-right: none;
			margin-left: -1px;
		}
		.menu-wrapper .first {
			margin-left: 0; display:none;
		}
		.menu-wrapper .current_page_item a {
			color: white;
		}

blockquote {
	background-color: #fbedcf; /* #F2F8FD; */
	/* border: 1px solid #eead24; /* #D4E9F7; */
	padding: 1em 1em 1px 1em;
	margin: 0 1.5em 1.25em 1.5em;
}

code {
	display: block;
	margin: 0 1.5em 1.25em 1.5em;
}

.content {
	background: white; /* url(images/sidebar-pattern.gif) repeat-y 612px 0;  */
}
	.posts {
		width: 760px;
	}
		.banner {
			background: #F09A53 url(images/banner-bg.gif) no-repeat 0 0;
			min-height: 164px;
			padding-right: 12px;
			/* padding-left: 125px; */
			color: white;
		}
			.banner img {
				float: left;
				padding: 0 12px 18px 0;
			}
			.banner h2 {
				margin-bottom: 0.35em;
			}
			.banner p {
				font-size: 14px;
				/* padding-bottom: 1.35em; */
				margin-bottom: 0.5em;
			}
		ul.items {
			list-style-type: none;
			margin: 0;
			font-size: 14px;
		}
			.items li {
				margin-bottom: 1.25em;
			}
		.items p {
			margin-bottom: 1em;
		}
		.items h2 {
			font-size: 24px;
			display: inline;
		}
			.items h2 a {
				border-bottom: 1px dashed;
				text-decoration: none;
				color: black;
			}
		.items h3 {
			font-size: 16px;
			margin-bottom: 0.6em;
		}
		.items ul, .items ol {
			margin-bottom: 1.25em;
		}
		.items ul {
			list-style-type: none;
			margin-left: 0;
		}
		.items ul li {
			padding-left: 21px;
			background: transparent url(images/ico/bullet-white.gif) no-repeat scroll 2px 6px;
		}
		.items ul li, .items ol li {
			margin-bottom: 0.25em;
		}

			.items a:hover {
				color: #EEAD24;
			}
			.info {
				margin-bottom: 0.75em;
				color: #999999;
			}
				.info span {
					margin-right: 1.5em;
					font-size: 12px;
					padding-left: 20px;
					margin-bottom: 0.5em;
				}
				.info .date {
					background: transparent url(images/ico/time.gif) no-repeat 0 -1px;
				}
				.info .author {
					background: transparent url(images/ico/user.gif) no-repeat 0 -1px;
				}
				.info .comment {
					background: transparent url(images/ico/comment.gif) no-repeat 0 -1px;
				}
				.info .cat {
					background: transparent url(images/ico/cat.gif) no-repeat 0 1px;
				}
				.info .tag {
					background: transparent url(images/ico/tag.gif) no-repeat 0 0;
				}
	.sidebar { display:none;
		
	}
		.sidebar .paddings div {
			margin-bottom: 1.5em;
		}
		.sidebar h3 {
			font-size: 14px;
		}
		.sidebar ul, .sidebar ol {
			margin: 0;
			list-style-type: circle; color:white;
		}
			.sidebar ul li a {  color:white; }
			.sidebar ul li {
				margin-left: 18px;
				/* background: transparent url(images/ico/bullet.gif) no-repeat 1px 4px; */
			}
			.sidebar ul li, .sidebar ol li {
				margin-bottom: 0.5em;
			}

.footer {
	color: #666666;
	background-color: black;
       display:none;
}
	.footer .paddings div {
		padding-bottom: 18px;
	}
	.footer a {
		text-decoration: none;
		color: #666666;
	}
	


/* Comments template */

div.com {
	margin-bottom: 30px;
}
.com .list-4 {
	list-style: none;
	margin: 0;
	padding: 0;
}
	.com .list-4 li {
		border: 1px solid #E7E9E4;
		padding: 15px 15px 0 15px;
		margin: 0 0 15px 0;
	}
		* html .com .list-4 li {
			padding:0 40px 0 20px !important;
		}
		*:first-child+html .list-4 li {
			padding:0 40px 0 20px !important;
		}
		* html .list-4 img {
			margin:20px auto auto 0;
		}
		*:first-child+html .list-4 img {
			margin:20px auto auto 0;
		}
		* html .list-4 p img {
			margin:0 auto auto 0;
		}
		*:first-child+html .list-4 p img {
			margin:0px auto auto 0;
		}
	.com-header {
		padding-bottom: 15px;
		margin: 0;
	}
		.com-header img {
			display: block;
			float: left;
		}
		.com-header .tp {
			display: block;
			margin: 0 0 0 63px;
			padding: 0;
			text-align: left;
		}
			.tp span, .tp span a {
				font-weight: bold;
				display: block;
				line-height: 150%;
			}


/* widgets */

/* calendar */
.widget_calendar caption {
	background: none;
	margin-bottom: 6px;
}
.widget_calendar th, td {
	padding: 1px 0 1px 12px;
	margin: 0;
}
.widget_calendar thead th {
	background-color: #666666;
	color: white;
	font-weight: normal;
}
.widget_calendar tbody td a {
	background-color: #EEAD24; 
	padding: 2px 1px;
	color: white;
}
	.widget_calendar tbody td a:hover {
		background-color: #666666;
	}
.widget_tag_cloud {
	line-height: 2.5em;
}

.widget_pages ul ul {
	margin-top: 2px;
}

.widget_search {

}
	.widget_search #srch-frm {
		background: none;
	}
	.widget_search .textfield {
		width: 134px;
		margin-right: 6px;
	}
